
<!-- Registration Form 3 -->
<!-- User Information Page -->

<ion-content [fullscreen]="true">
  <div class="container">
    <app-form3></app-form3>
    <div class="forms">
      <form #form="ngForm">
        <ion-item>
          <ion-input 
              type="email" email
              class="inputs" 
              label="Email" 
              label-placement="floating"
              [clearInput]="true"
              required
              ngModel name="email"
              #emailHandler="ngModel">
          </ion-input>
        </ion-item>
        <div class="note" *ngIf="(emailHandler.touched || emailHandler.dirty) && !emailHandler.valid">
          <ion-note>Please enter a valid Email Address.</ion-note>
        </div>

        <ion-item>
          <ion-input 
              [type]="password" 
              class="inputs" 
              label="Password"
              label-placement="floating"
              minlength="6"
              id="password"
              required
              ngModel name="password"
              #passwordHandler="ngModel">
          </ion-input>
          <ion-icon slot="end" name="{{ passwordShown ? 'eye' : 'eye-off' }}" (click)="showPass()"></ion-icon>
        </ion-item>
        <div class="note" *ngIf="(passwordHandler.touched || passwordHandler.dirty) && !passwordHandler.valid">
          <ion-note>Please enter a Password.</ion-note>
        </div>

        <div class="buttons">
          <ion-button class="back-btn" routerLink="/registration-form2">Back</ion-button>
          <ion-button class="next-btn" type="submit" [disabled]="!form.valid">Next</ion-button>
        </div>
      </form>
    </div>
  </div>
</ion-content>