
<!-- Agreement Checkbox Page -->

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="panel">
      <div class="header">
        <p class="heading">Privacy Agreement</p>
      </div>

      <div class="content">
        <p class="text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod quisquam a, veniam fugit 
          quibusdam hic quis fugiat blanditiis ea architecto repudiandae dignissimos, sequi 
          praesentium doloremque illum nobis, modi aliquam provident. Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus maxime numquam nulla. 
          Laboriosam maiores adipisci error velit nobis fuga beatae a, impedit illo dolores quidem 
          deserunt odit temporibus, commodi exercitationem. Lorem ipsum dolor sit amet consectetur, 
          adipisicing elit. Libero nisi necessitatibus, non vero animi suscipit iste, distinctio ex
          autem numquam, consectetur illo consequatur. Voluptate cum adipisci veritatis sequi sit 
          itaque?
        </p>
      </div>

      <div class="checkbox">
        <form #form="ngForm">
          <input type="checkbox" id="cb" ngModel name="checkbox" value="checked"  required>
          <label for="cb"> I agree with the terms and conditions.</label>
        </form>
      </div>

      <ion-button class="button" shape="round" routerLink="/registration-form1" [disabled]="!form.valid">Continue</ion-button>
    </div>
  </div>
</ion-content>
