
// Login Header Component CSS Properties

// logo & header position
.logo {
     display: flex;
     justify-content: center;
     align-items: center;

     position: relative;
}
 
.splashlogo {
     width: 180px;
     height: 185px;
}
 
h1 {
     color: #4c4c4c;
     font-size: 45px;
     font-weight: bold;
     font-family: Tahoma;
 
     text-align: center;
}
 
h3 {
     color: #4c4c4c;
     font-size: 17px;
     font-weight: bold;
     font-family: Tahoma;
 
     text-align: center;
}