
<!-- Registration Form 1 -->
<!-- Personal Info Page -->

<ion-content [fullscreen]="true">
  <div class="container">
    <app-button></app-button>
    <app-form1></app-form1>

    <div class="forms">
        <form #form="ngForm">
            <ion-item>
                <ion-input 
                    type="text" 
                    class="inputs" 
                    label="First Name" 
                    label-placement="floating" 
                    [clearInput]="true"
                    required
                    ngModel name="firstName"
                    #firstNameHandler="ngModel">
                </ion-input>
            </ion-item>
            <div class="note" *ngIf="(firstNameHandler.touched || firstNameHandler.dirty) && !firstNameHandler.valid">
                <ion-note>Please enter your First Name.</ion-note>
            </div>

            <ion-item>
                <ion-input 
                    type="text" 
                    class="inputs" 
                    label="Middle Name" 
                    label-placement="floating"
                    [clearInput]="true"
                    ngModel name="middleName">
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-input 
                    type="text" 
                    class="inputs" 
                    label="Last Name" 
                    label-placement="floating"
                    [clearInput]="true" 
                    required
                    ngModel name="lastName"
                    #lastNameHandler="ngModel">
                </ion-input>
            </ion-item>
            <div class="note" *ngIf="(lastNameHandler.touched || lastNameHandler.dirty) && !lastNameHandler.valid">
                <ion-note>Please enter your Last Name.</ion-note>
            </div>

            <ion-item>
                <ion-select type="text" class="inputs" label="Sex" label-placement="floating" ngModel name="sex" #sexHandler="ngModel" required>
                  <ion-select-option value="Male">Male</ion-select-option>
                  <ion-select-option value="Female">Female</ion-select-option>
                </ion-select>
            </ion-item>
            <div class="note" *ngIf="sexHandler.touched && !sexHandler.valid">
                <ion-note>Please choose your Sex.</ion-note>
            </div>

            <ion-item>
                <ion-input 
                    class="inputs" 
                    label="Contact Number" 
                    label-placement="floating"
                    [clearOnEdit]="true"
                    [maskito]="phoneMask"
                    [maskitoElement]="maskPredicate"
                    required
                    ngModel name="contactNo"
                    #contactNoHandler="ngModel">
                </ion-input>
            </ion-item>
            <div class="note" *ngIf="(contactNoHandler.touched || contactNoHandler.dirty) && !contactNoHandler.valid">
                <ion-note>Please enter your Contact Number.</ion-note>
            </div>

            <ion-item>
                <ion-input 
                    type="date"
                    class="inputs" 
                    label="Date of Birth" 
                    label-placement="floating"
                    min="1940-01-01" max="2008-12-31" 
                    required
                    ngModel name="birthDate"
                    #birthDateHandler="ngModel">
                </ion-input>
                <ion-icon slot="end" name="calendar-number"></ion-icon>
            </ion-item>
            <div class="note" *ngIf="(birthDateHandler.touched || birthDateHandler.dirty) && !birthDateHandler.valid">
                <ion-note>Please enter your Birthday.</ion-note>
            </div>
        </form>

        <div class="btn">
            <ion-button class="next-btn" type="submit" routerLink="/registration-form2" [disabled]="!form.valid">Next</ion-button>
        </div>

        <div class="loginNow">
            <p class="text">Already have an account? <a href="">Login Now</a></p>
        </div>
    </div>
  </div>
</ion-content>