
<!-- Login Page -->

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="header">
      <app-login-header></app-login-header>
    </div>

    <div class="forms">
      <form #form="ngForm">
        <ion-item>
          <ion-input 
              type="email" email
              class="inputs" 
              label="Email" 
              label-placement="floating"
              [clearInput]="true"
              required
              ngModel name="email"
              #emailHandler="ngModel">
          </ion-input>
        </ion-item>
        <div class="note" *ngIf="(emailHandler.touched || emailHandler.dirty) && !emailHandler.valid">
          <ion-note>Please enter a valid Email Address.</ion-note>
        </div>

        <ion-item>
          <ion-input 
              [type]="passwordType" 
              class="inputs" 
              label="Password"
              label-placement="floating"
              minlength="6"
              required
              ngModel name="password"
              #passwordHandler="ngModel">
          </ion-input>
          <ion-icon slot="end" name="{{ passwordShown ? 'eye' : 'eye-off' }}" (click)="showPass()"></ion-icon>
        </ion-item>
        <div class="note" *ngIf="(passwordHandler.touched || passwordHandler.dirty) && !passwordHandler.valid">
          <ion-note>Please enter a Password.</ion-note>
        </div>

        <ion-button class="login-btn" type="submit" [disabled]="!form.valid" shape="round">Sign in</ion-button>
          
      </form>
    </div>
  </div>
</ion-content>
